@font-face {
    font-family: manuka;
    src: url(./res/manuka-regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: manuka;
    src: url(./res/manuka-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: montserrat;
    src: url(./res/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manuka;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    overflow-x: hidden;
    overflow-y: auto;
}


#nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    /* background-color: red; */
    position: fixed;
    z-index: 99;
    top: -10%;
    opacity: 0;
}

#nav #logo .logo {
    /* background-color: blue; */
    fill: #fff;
    width: 10vw;
}
#music-bar{
    height: 10px;
    /* width: 15px; */
    scale: 1.2;
    gap: 1px;
    align-items: end;
    overflow: hidden;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
}
#music-bar .bars{
    fill: white;
    height: 20%;
    background-color: wheat;
    width: 2.1px;
    transition: all linear .5s;
    animation-timing-function: ease-in-out;
}

#nav .country {
    width: 1.3vw;
    fill: #fff;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

#nav-part2 h4 {
    font-size: 1.3vw;
    font-family: montserrat;
    color: #fff;

}

#page1 {
    height: 100vh;
    width: 100vw;
    /* background-color: lightblue; */
    /* background-image: ; */

}

#content {
    height: 100vh;
    background-image: url(https://join.ames-foundation.com/images/bg-texture.webp);
    background-position: center;
    background-size: cover;
    width: 100vw;
    scale: 0.8;
    /* background-color: lightcoral; */
    border-radius: 5px;
}

#texture {
    height: 100%;
    background-color: #2b241294;
    /* display: flex; */
    border-radius: 5px;
    padding: 3vw;
    padding-top: 13.5vw;
}

#texture>h1 {
    font-size: 16vw;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20vw;
    line-height: 18vw;
}

#texture h1>span {
    font-weight: 900;
}

.leaf {
    height: 38vw;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poster {
    height: 28.551vw;
    z-index: 3;
    position: absolute;
    top: 38%;
    display: none;
    opacity: 1;
    left: 70%;
    rotate: 3deg;
    transform: translate(-50%, -50%);
}


.sticker {
    position: absolute;
    height: 9.51vw;
    display: none;
    z-index: 99;
    transition: all ease .5s;
    top: 60%;
    left: 53%;
    rotate: -3deg;
}

.sticker div {
    height: 100%;
    width: 100%;
    position: relative;
}

.stick {
    height: 100%;
    opacity: .9;
}

.sticker div h1 {
    position: absolute;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-family: a;
    top: 50%;
    font-family: manuka;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#timer {
    position: absolute;
    right: 3%;
    bottom: 5%;
    height: 8.419vw;
    width: 15vw;
    height: 6.8vw;
    text-align: end;
    overflow: hidden;

}

#timer h1 {
    font-size: 7.32vw;
    transition: all ease .8s;
}

#timer button {
    padding: 1.45vw 4.2vw;
    font-size: 2.6vw;
    text-transform: uppercase;
    border-radius: 0.466vw;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition-delay: 1s;
    transition: all ease 0.8s;
    font-weight: 900;
    margin-top: -1.4vw;
    opacity: 0;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

#timer button::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -100%;
    transition: all ease 0.4s;
    left: 0;
}

#timer button:hover::after {
    bottom: 0;
}

#timer button span {
    position: relative;
    transition: all ease 0.4s;
    z-index: 9;
}

#timer button:hover span {
    color: #000;
}

#pg1-left-text {
    height: 5.1vw;
    width: 33vw;
    display: none;
    position: absolute;
    right: 5%;
    bottom: 4%;
    transition: all ease .5s;
    opacity: 0;
}

#pg1-left-text h5 {
    font-size: 1.2vw;
    font-weight: 400;
    word-wrap: none;
    color: rgb(255, 255, 255);
    font-family: montserrat;
}

#page2 {
    height: 120vh;
    position: relative;
    width: 100%;
    background-color: #f8f0ec;

    overflow: hidden;
}

#page2 #page2-text {
    height: 50vh;
    width: 100vw;
    background-image: url(https://join.ames-foundation.com/images/bg-texture.webp);
    background-position: bottom;
    background-size: cover;
}

#page2-text>#texture {
    padding: 2vw;
    height: 100;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

#page2-text>#texture>h3 {
    font-size: 2vw;
    display: flex;
    margin-top: 3vw;
    margin-left: 5vw;
    gap: 5px;
}

#page2-text>#texture>h3 span {
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 1vw;
    border-radius: 50%;
    margin-right: .4vw;

}

#page2 video {
    /* position: absolute; */
    width: 94vw;
    transition: all ease 1s;
    clip-path: polygon(0 100%, 100% 60%, 100% 100%, 0% 100%);
    object-fit: cover;
    transform: translateY(-30%)translateX(3%);
    height: 98vh;
}

#page3 {
    height: 100vh;
    overflow-x: scroll;
    background-color: #f8f0ec;
    width: 300vw;
    display: flex;
    flex-shrink: 0;

    align-items: center;
}

#page3-part1 {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;

    padding: 8vw 4vw;
}

#page3-part1 h1 {
    color: #0000004f;
    font-size: 5.17vw;
}

#page3-part1 h1 span {
    color: #e2dbd5;
    font-size: 5.17vw;
}

#page3-part2 {
    height: 100vh;
    width: 100vw;
}

#page3-part2 img {
    object-fit: cover;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
    position: absolute;
}

.sunset {
    width: 425px;
    top: -7%;
    left: 13%;
    rotate: 2deg;
    height: 655px;
}

.land {
    width: 602px;
    height: 410px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.356));
    bottom: .5%;
    left: 38%;
}

#page3-part3 {
    height: 100vh;
    width: 100vw;
    background-color: lightpink;
}